.question{
    flex:0.6;
}
.navigation{
    flex:0.35;
}
.quizDataContainer{
    /* position: relative; */
    min-height: 100vh;
    /* background: red; */

    background: url('../../images/pinkbg.png') no-repeat center center/cover;
    position: fixed;
    top:0;
}

@media (max-width:768px){
    .navigation{
        display: none;
    }
    .question{
        flex:1;
    }
}