.navContainer{
    /* background: var(--lightGreen); */
    background: white;
    width: 50%;
    color: black;
    /* position: absolute; */

}

.navbarTitle {
    background:url('../../../images/logo.png') center center/cover;
    height:1.1rem;
    width:2.2rem;
    margin: auto;
}

.gdsc{
    font-size: 15px;
    font-weight: 600;
}
.logout{
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .navContainer{
        width: 90% !important;
    }
  }