/* .additionalDetails{
    background: var(--primaryColor);
} */
.addDetails{
    text-align: start;
    width: 100%;
    /* background: green; */
}
.pair{
    width: 50%;
    justify-content: space-between;
    /* color: rgb(233, 171, 171); */
}
.additionalDetails{
    background:url('../../../images/bluebg.png') no-repeat center center/cover;
}